<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>

    <h1>Home Page</h1>
    <form action="/about">
        <label for="fname">First Number : </label>
        <input type="text" id="fno" name="fname"><br><br>
        <label for="lname">Second Number : </label>
        <input type="text" id="sno" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>